terratowns_endpoint="https://terratowns.cloud/api"
games = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/games"
  content_version = 2 
}
movies = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/movies"
  content_version = 1 
}
