user_uuid="5a6a4e78-7336-44a7-9868-d1339436cd7f"
bucket_name="25df7jmmiicxccchl7l67dkhi90v3l9y"

index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/"

content_version=1